@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.page_container_div{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: transparent;
}
.webLogo{
  position: absolute;
  top: 1%;
  left: 0.7%;
  background-color: #b08d57;
  border-radius: 500px;
  padding: 0 1%;
}
.webLogo h1{
  margin: 0;
  font-family: 'Righteous', cursive;


}
.cactusImage{
  position: absolute;
  z-index: 200;
  top: 50%;
  width: 10%;
  animation: slide 25s linear infinite;
}
.blurCactusImage{
  width: 60%;
  z-index: 900;
  bottom: 0;
  position: absolute;
  animation: slide 30s linear infinite;
}
@keyframes slide{
  from{
    transform: translate3d(2900px, 0, 0);
  }
  to{
    transform: translate3d(-19000px, 0, 0);
  }
}
.mountainImg_container{
  position: absolute;
  top:0;
  /* z-index: 10; */
  background-image: url(../../image/m.png);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: cover;
  animation: animate 100s linear infinite;
  overflow-x: hidden;
  width: 100%;
  height:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes animate{
  from{
      background-position: 0 0;
  }
  to{
      background-position: 3000% 0;
  }
}
.footerDiv{
  position: absolute;
  bottom: 1%;
  right: 0.7%;
  width: 27%;
  background-color: #b08d57;
  border-radius: 500px;
  padding: 0.5% 1%;
  display: flex;
  align-items: center;
}
.footerDiv p{
  margin: 0;
  display: inline;
  font-size: 25px;
}
.icons{
  width: 7%;
  cursor: pointer;
  margin: 0 2%;
}